<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
	<title>index page title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h2>SIGN UP page</h2>
	<label for="userName">NAME</label><span style="color:orange;">*</span>
	<input type="text" id="userName" name="userName"><br>
	<label for="userID">ID</label><span style="color:orange;">*</span>
	<input type="text" id="userID" name="userID"><br>
	<label for="userPW">PW</label><span style="color:orange;">*</span><br>
	<input type="password" id="userPW" name="userPW"<br>
	<label for="userEmail">E-mail</label><span style="color:orange;">*</span>
	<input type="text" name="userEmail" id="userEmail">@<input type="text" name="emailaddr" id="emailaddr">
	<label for="emailselect" style="float:left;"></label>
		<select id="emailselect" name="emailselect" size="1">
			<option value="selfwrite">Write yourself</option>
			<option value="naver.com">naver.com</option>
			<option value="gmail.com">gmail.com</option>
			<option value="nate.com">nate.com</option>
		</select>
		<br>
		<br>
	<%
		int num1 = 2;
		int num2 = 5;
	%>
	<%= num1%> + <%= num2%> = <%=num1+num2%>
</body>
</html>